@font-face {
    font-family: 'arzhu';
    src: url('C:\Users\Kitve\Desktop\杨任东竹石体-100font.com');
    font-display: swap
}

h1#site-title {
    font-family: arzhu!important
}

span#subtitle {
    font-family: arzhu!important
}

a#site-name {
    font-family: arzhu!important
}